<header>
  <%= image_tag 'logo.png'%>


</header>
<p style="text-align: center"><%=link_to 'Regresar al Login', root_path%></p>
<div class="alert alert-danger" role="alert" style="width: 40%; height: 50%; margin-left: 600px" >
<p style="text-align: center; font-weight: bold; font-size: 16px">Contraseña <br> O <br> Correo incorrecto</p>
</div>



